<h2>Store details</h2>
<ng-container *ngIf="store">
  <button mat-fab (click)="goBackToOverview()"><mat-icon>arrow_back</mat-icon></button>
  <button *ngIf="loggedIn" mat-fab (click)="updateStore()"><mat-icon>update</mat-icon></button>
  <button *ngIf="loggedIn" mat-fab (click)="deleteStore()"><mat-icon>delete</mat-icon></button>

  <form>
    <mat-form-field>
      <mat-label>StoreName</mat-label>
      <input matInput id="storeName" name="storeName" [(ngModel)]="storeName">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Address</mat-label>
      <input matInput id="address" name="address" [(ngModel)]="address">
    </mat-form-field>
    <mat-form-field>
      <mat-label>contactNumber</mat-label>
      <input matInput id="contactNumber" name="contactNumber" [(ngModel)]="contactNumber">
    </mat-form-field>
    <mat-form-field>
      <mat-label>OpeningHour</mat-label>
      <input matInput id="openingHour" name="openingHour" [(ngModel)]="openingHour">
    </mat-form-field>
    <mat-form-field>
      <mat-label>closingHour</mat-label>
      <input matInput id="closingHour" name="closingHour" [(ngModel)]="closingHour">
    </mat-form-field>
  </form>
</ng-container>

<div class="stockTable">
  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>id</th>
      <td mat-cell *matCellDef="let i=index" >{{i+1 + pageIndex*pageSize}}</td>
    </ng-container>
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>title</th>
      <td mat-cell *matCellDef="let stock">{{stock.book.title}}</td>
    </ng-container>
    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef>quantity</th>
      <td mat-cell *matCellDef="let stock">{{stock.quantity}}</td>
    </ng-container>
    <ng-container matColumnDef="buttons">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let stock">
        <button *ngIf="loggedIn" mat-mini-fab (click)="updateStock(stock.id)"><mat-icon>update</mat-icon></button>
        <button *ngIf="loggedIn" mat-mini-fab (click)="deleteStock(stock.id)"><mat-icon>delete</mat-icon></button>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let stockrow; columns: displayedColumns;"></tr>
  </table>
  <div class="my_paginator">
    <div class="paginator_buttons">
      <button mat-mini-fab (click)="goToFirstPage()" [disabled]="pageFirst"><mat-icon>skip_previous</mat-icon></button>
      <button mat-mini-fab (click)="previousPage()" [disabled]="pageFirst"><mat-icon>navigate_before</mat-icon></button>
      <button mat-mini-fab (click)="nextPage()" [disabled]="pageLast"><mat-icon>navigate_next</mat-icon></button>
      <button mat-mini-fab (click)="goToLastPage()" [disabled]="pageLast"><mat-icon>skip_next</mat-icon></button>
      <mat-label> Page: {{pageIndex+1}} of {{nrPages}}</mat-label>
    </div>

    <div class="page_size">
      <mat-label>Page size: </mat-label>
      <mat-select id="pageSizeSelect" name="pageSizeSelect" [(ngModel)]="pageSize" (selectionChange)="changeItPlease()">
        <mat-option [value]="5">5</mat-option>
        <mat-option [value]="10">10</mat-option>
        <mat-option [value]="20">20</mat-option>
        <mat-option [value]="50">50</mat-option>
      </mat-select>
    </div>
  <button mat-mini-fab (click)="goToAddStock()"><mat-icon>add</mat-icon></button>
</div>
