button{
  height: 50px;
}
h2{
  text-align: center;
}

button:hover{
  background-color: rebeccapurple;
  color: white;
}

.formcomp{
  display:flex;
  /*align-items: flex-start;*/
}

.formcomp button{
  /*position: relative;*/
  /*top:0;*/
  /*height:70px;*/
  /*margin-top:-20px;*/
  height:55px;
  vertical-align: top;

}

